.search-box{
    position:relative;
}
.search-box svg {
    position:absolute;
    top:8px;
    left: 8px;
}

.search-box input{
        background-color: #c0c0c0;
    border-radius: 4px;
    width: 300px;
    padding: 10px 30px;
}