.search-box {
  position: relative;
}
.search-box svg {
  position: absolute;
  top: 8px;
  left: 8px;
}

.search-box input {
  background-color: #c0c0c0;
  border-radius: 4px;
  width: 300px;
  padding: 10px 30px;
  margin-right: 20px;
}

.header-right-home {
  display: flex;
  align-items: center;
}

.header-right-home img {
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
}

.menu-button {
  position: relative;
}

.menu-button ul {
  position: absolute;
  right: 10px;
  top: 100%;
  padding: 10px;
  background: #dfdfdf;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  color: black;
  width: 120px;
  text-align: left;
  line-height: 2.2em;
  cursor: default;
}

.menu-button ul li {
  margin: 0 10px;
  cursor: pointer;
}

.menu-button ul li:first-child {
  border-bottom: 1px solid;
}

.post-container {
  display: flex;
  padding: 10px 40px;
}

.post-container .card {
  flex: 0 0 50%;
  margin-right: 10px;
}
