.home-main {
  display: flex;
  justify-content: center;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 40px 60px;
  margin: 0 20px;
}
.login-card p {
  color: #f44336;
}

.login-card h1,
.login-card button {
  text-transform: uppercase;
  margin: 20px 0;
}

.login-card .form-control {
  width: 100%;
  margin-bottom: 20px;
}
